body {
    margin: 0;
    padding: 0;
}


.center {
    text-align: center;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

.h2 {
    text-align: center;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

    /* Style the list items */
    ul li {
        cursor: pointer;
        position: relative;
        padding: 50px 20px 40px 40px;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        background: rgba(54, 155, 244, 0.7);
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

/*Font size for list, build for @screen resolution when there's time*/
.list-item {
    font-size: 28px;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: rgba(206, 232, 255, 0.5);
}

        /* Darker background-color on hover */
        ul li:hover {
            background: #ffffff;
        }

        /* When clicked on, add a background color and strike out text */
        ul li.checked {
            background: #888;
            color: #fff;
            text-decoration: line-through;
        }

            /* Add a "checked" mark when clicked on */
            ul li.checked::before {
                content: '';
                position: absolute;
                border-color: #fff;
                border-style: solid;
                border-width: 0 2px 2px 0;
                top: 10px;
                left: 16px;
                transform: rotate(45deg);
                height: 15px;
                width: 7px;
            }

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    font-size: 0px;
    height:100%;
    width: 100px;
}

    .close:hover {
        background-color: #369bf4;
        color: #ffffff;
        font-size: 100px;
        text-align: center;
        margin: auto;
        
        
    }

/* Style the header */
.header {
    background-color: #369bf4;
    padding: 30px 40px;
    color: white;
    text-align: left;
}

    /* Clear floats after the header */
    .header:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the input */
input {
    border: none;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
    
}

textarea {
    border: 2px;
    width: 100%;
    padding: 20px;
    float: left;
    font-size: 28px;
    border-radius: 5px;
    position: relative;
    
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 90%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    border-radius: 5px;
}

    .addBtn:hover {
        background-color: #bbb;
    }

/*New button styler*/

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #4c4c4c;
    text-align: center;
    font-size: 28px;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    height: 80px;
    padding: 20px;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
